/* login.css */

/* 1. O fundo da tela inteira (Geralmente uma imagem bonita ou gradiente) */
.login-body {
	background: url("#{resource['fasda:images/login/BandeiraPE.jpg']}") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
 }
 
 /* 2. A caixa (card) de Login Semi-Transparente */
.login-container {
    /* 0.65 significa 65% de opacidade na cor branca */
    background-color: rgba(255, 255, 255, 0.05); 
    
    /* O efeito do vidro fosco: borra o fundo da imagem em 10px */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
    
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1); /* Borda sutil branca */
    text-align: center;
}

/* 3. Estilização rápida dos inputs para combinar com o tema */
.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

.login-header h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;
  color: #ffffff;
}

.login-panel {
    width: 100%;
    max-width: 300px; /* Define uma largura máxima elegante para o formulário */
    padding: 20px;
}
 
 /* Garante que o formulário e o grid ocupem toda a largura do painel */
 .login-panel form, .ui-panelgrid {
     width: 100% !important;
 }
 	